[2017-10-18 20:05] juanpicado opened #12 "Add demo / example section"

[2017-12-14 11:20] HachimDev opened #15 "Styling the download Button and changing text ?"
Is it possible to style the download button along with the text inside please ?

[2018-01-11 13:50] surndraraj3 commented on #15
Hi @HachimDev have you got any solution for styling and modify the text

[2018-01-13 14:56] HachimDev commented on #15
unfortunately not. I had to create a new component using xlsx and file-saver from scratch

[2018-01-13 14:58] securedeveloper commented on #15
Sorry guys about the delay, Was busy with another library. You will have a solution by the end of this week.

[2018-01-19 06:35] abiodunsulaiman694 commented on #15
I was able to style the button and the text.
ExcelFile.js accepts 2 props that has default values: `filename` and `element`

The default props from the source code: `ExcelFile.js` are:
`ExcelFile.defaultProps = {
    filename: "Download.xlsx",
    element: _react2.default.createElement(
        "button",
        null,
        "Download"
    )
};`

To override it, simply pass in your own props:
` <

[2018-01-19 06:38] abiodunsulaiman694 opened #16 "Pass multiple data sources into ExcelSheet"
Great job on this package.

I need to pass multiple data sources into ExcelSheet Component, as the sheet is to comprise of many tables. And possible use basic styling like, bold.

Could you, please, help.

Thank you.

[2018-01-19 15:35] securedeveloper commented on #16
Hey I got your request, I have progress on that. I will finish this week and you will have a nice and clean solution latest by this Monday.

Thank you for using this library.

[2018-01-19 17:11] abiodunsulaiman694 commented on #16
@securedeveloper Thanks a bunch. Expecting.

[2018-01-20 20:28] securedeveloper commented on #15
@surndraraj3 hopefully your issue is solved now, This week I am working on it, going to release a minor change to support multiple sheets in Excel file. Just found a lot of things to improve and in coming weeks you guys will have some good stuff 🍯

[2018-01-20 20:28] #15 closed

[2018-01-21 03:08] surndraraj3 commented on #15
@abiodunsulaiman694  I have implemented multiple sheets in a single excel file here is the example, By using your libraray
<ExcelFile filename="Master Data.xlsx">
  {
	this.state.masterDataDownload
	?
	(this.state.masterDataDownload.map((values) => {
	  console.log('values', values);
	  return (
		<ExcelSheet data={values.masterDataType.names} name={values.masterDataType.code}>
		  <ExcelColumn la

[2018-01-21 21:23] securedeveloper commented on #16
@abiodunsulaiman694  issue has been resolved with #17 , will update documentation soon.

[2018-01-21 21:23] #16 closed

[2018-01-21 22:17] securedeveloper commented on #12
Documentation has been updated, will  be putting more explanation/examples/demos along further development.

[2018-01-21 22:17] #12 closed

[2018-01-23 05:42] abiodunsulaiman694 commented on #16
Hi, @securedeveloper . Well done. Could you, please, give an example of how multiple datasets can be passed into one ExcelSheet.

I'm passing it in as an array, but getting **invalid file** downloaded. My code:
`<ExcelSheet data={[dataSet1, dataSet2]} name="Report">`

I need the ExcelSheet to have multiple tables.

Thank you.

[2018-01-23 08:17] abiodunsulaiman694 commented on #16
@securedeveloper Found the solution in the docs. Thanks

[2018-01-23 08:20] abiodunsulaiman694 opened #21 "File exports without xlsx extension"
I'm saving a file with multiple datasets as it is in the docs. The data exports but without the xlsx extension, hence reads as invalid.
If I rename the file with the xlsx extension, it opens well with excel.
I use create-react-app, so I don't have access to the webpack config.
Thanks for your help. Expecting.

[2018-01-23 08:23] abiodunsulaiman694 opened #22 "Styling exported table"
Hello, any chance of being able to style the exported data? I would like to create a band for the header column to differentiate it. Probably style multiple datasets differently, possibly add caption for data and brand the document with the organization name and logo. Thanks. Love this package.

[2018-01-23 10:21] securedeveloper commented on #22
Hello, Yes it is possible but it need a big change, I am using `js-xlsx` library for the movement for exporting data and they don't have a way to style it. But I already got a solution and will implement this week. Soon you will have a solution for that.

Just stay tuned.

[2018-01-23 10:24] securedeveloper commented on #21
Hello, Thank you for letting me know about this issue, You can pass name as prop to `ExcelFile`
For example,
[code]

[2018-01-23 11:28] abiodunsulaiman694 commented on #21
Thanks. Fixed. Appreciate your swift response. Great job. reat packae.

[2018-01-23 11:28] #21 closed

[2018-01-23 11:29] abiodunsulaiman694 commented on #22
Thanks. Expecting

[2018-01-30 13:50] annslittleflower opened #23 "please provide some examples how properly use it"
wrote a function, calling it and nothing happens, no error and no anything else

    const excel = () => {
      return (
        <ExcelFile>
           <ExcelSheet data={this.state.entities.results} name="Orders">
               <ExcelColumn label="Name" value="name" />
               <ExcelColumn label="Created at" value="createdAt" />
           </ExcelSheet>
         </ExcelFile>
      );

[2018-01-30 14:07] securedeveloper commented on #23
Hey man, Thank for opening and issue,

Could you please share how you are importing modules `ExcelFile`, `ExcelSheet` and `ExcelColumn` from the library. As you mentioned you are not getting any error it means there is no data being passed to the library. Please make sure by logging that you are passing data correctly.

And in my opinion passing data through `state` variable is not a very good pra

[2018-01-30 14:09] annslittleflower commented on #23
import { default as ExcelFile, ExcelSheet, ExcelColumn } from "react-data-export";

thats my imports
but how else should i pass data?

[2018-01-30 14:37] securedeveloper commented on #23
Well, Imports seems fine, I am quite sure about the data you are passing, you are not getting data in your library.

[2018-01-30 14:39] securedeveloper commented on #23
Just before return try to log data you are passing to library.

[2018-01-30 14:40] annslittleflower commented on #23
on logs i got the data

[2018-01-30 14:41] annslittleflower commented on #23
maybe its because object in JS being passed by reference?

[2018-01-30 14:46] securedeveloper commented on #23
It should not be a problem, anyways there are 2 ways for using this library, you can try using the 2nd method, i.e
[code]

Also if possible can you please share structure of your data (when you logged) is it array of objects or array of arrays.

[2018-01-30 14:51] annslittleflower commented on #23
![image](https://user-images.githubusercontent.com/18059716/35572650-bdc56d42-05dd-11e8-913f-63a1dd44541e.png)

[2018-01-30 14:51] annslittleflower commented on #23
this is after your last comment, but still nothing works((((

[2018-01-30 14:55] securedeveloper commented on #23
Ok I got it, So here is the issue,
Please pass `<ExcelSheet data={this.state.entities.results[0].data} ...` and it should work with your original code.

Right now, you are passing it as a whole object and when you try to download it iterate through the object and try to find keys `name` and `createdAt` on `results` object, but your results object is an array where on `0` index you have an object w

[2018-01-30 15:01] securedeveloper commented on #23
Let me know if it works for you,  I will update documentation afterwards for better understanding.

[2018-01-30 15:05] annslittleflower commented on #23
thats the code:
    let data = [
      {
        columns: ['name', 'createdAt'],
        data: this.state.entities.results,
      }
    ]

    const excel = () => {
      console.log(data);
      return (
        <ExcelFile>
           <ExcelSheet dataSet={data} name="Orders"/ >
         </ExcelFile>
      );
    };

    return excel();

previous console log i sent you was from this code, so i don

[2018-01-30 15:08] annslittleflower commented on #23
data: [
            ["Name1", "28-01-2018"],
            ["Name2", "27-01-2018"]
        ]

[2018-01-30 15:16] securedeveloper commented on #23
Actually if you wanna try the 2nd method it is for the purpose if your data in not in `Object` form, So all you have to do is have an array of array in your data object so it should look something like this

![screen shot 2018-01-30 at 16 16 01](https://user-images.githubusercontent.com/4705281/35574007-f32189da-05d8-11e8-9a90-a7b8ece090b6.png)

[2018-01-30 15:22] annslittleflower commented on #23
okay, just hardcoded array of arrays, not working( i think maybe the problem is because i render this function in some wrong way, dont you think so?

[2018-01-30 15:29] securedeveloper commented on #23
It could be a reason, Please try to use `class` and `component` style from React,
[code]

Please check this fiddle for a reference,
[https://jsfiddle.net/reactjs/69z2wepo/](https://jsfiddle.net/reactjs/69z2wepo/)

[2018-01-30 15:38] annslittleflower commented on #23
it works man)))))))))))))))))))))))))))))))))))))))))))))))))
and works without classes
problem was i was just calling the function like in the air, this function wanted to be like in the DOM or something. Here is algorithm how i  solved this issue:
1) create a function that simply does setState({needExport: true})
2) create a function like in this doc with Excel components
3) somewhere in your pa

[2018-01-30 15:53] annslittleflower commented on #23
it works man)))))))))))))))))))))))))))))))))))))))))))))))))
and works without classes
problem was i was just calling the function like in the air, this function wanted to be like in the DOM or something. Here is algorithm how i  solved this issue:
1) create a function that simply does setState({needExport: true})
2) create a function like in this doc with Excel components
3) somewhere in your pa

[2018-01-30 17:15] annslittleflower commented on #23
Okay i finished everything, thats how i did automatic download of document:

`  excel() {

    setTimeout(() => {
      this.deleteDownloadButton();
    }, 50);

    return (

      <ExcelFile>
        <ExcelSheet data={this.state.entities.results} name="Orders">
          <ExcelColumn label="Name" value="name" />
          <ExcelColumn label="Created At" value="createdAt" />
        </ExcelSheet>

[2018-01-30 17:56] securedeveloper commented on #23
Thank you for posting your solution, This might help somebody with similar conditions,

About styling download button, I it possible to pass your own custom element and you can assign any class/id to that component, to do so,
[code]

I am surely gonna add this in documentation on this weekend,

Happy Coding 👨‍💻

[2018-01-30 17:56] #23 closed

[2018-01-30 19:22] annslittleflower commented on #23
oh i did not know about such features its really-really nice, thanks for pointing to them)
please update your doc for others, i am pretty sure lots of people wanted to have those features in their apps)

[2018-02-14 11:08] denvist commented on #23
I cannot understand that i'm doing wrong:

[code]

I have got this error:

[2018-02-14 11:17] annslittleflower commented on #23
try to add columns in your return, i think that is the problem

[2018-02-14 11:41] denvist commented on #23
Nope:

[code]

[2018-02-14 11:47] denvist commented on #23
Full example:
[code]

Error:

[code]

[2018-02-14 11:49] securedeveloper commented on #23
@denvist Your last code looks perfect. you just need to change property `data` to `dataset`,

so your code will look something like this,
[code]

Hopefully this will solve your issue.

[2018-02-14 11:50] denvist commented on #23
@securedeveloper same error

[2018-02-14 13:05] annslittleflower commented on #23
google says it is import error, so my other theory you import stuff in some bad way, your SampleComponent is undefined

[2018-02-14 20:13] securedeveloper commented on #23
Thank you @annslittleflower for your time.
Thank you @denvist you actually pointed out one more possible feature (which is default naming of ExcelSheets like MS Excel does like Sheet1, Sheet2 etc. )

I checked your script and I found 2 issues there,

**1. Importing is not correct**
   The way you are currently importing is `import { ExcelFile, ExcelSheet } from 'react-data-export';`
  But two poss

[2018-02-14 20:46] denvist commented on #23
@securedeveloper thank you for your explanation! I need more to learn about import/export functionality. Tomorrow i will check your solution.

[2018-02-15 19:19] securedeveloper commented on #23
@denvist still curious if that works for you if so I will update documentation accordingly on this weekend.

[2018-02-15 19:52] denvist commented on #23
@securedeveloper yes, it's work!

btw: `import * from 'react-data-export'` arise importing error

[2018-02-22 19:15] alexeymakarov90 commented on #22
Is there any chance for a colspan ?:)

[2018-02-22 19:28] securedeveloper commented on #22
Hello @alexeymakarov90 we have some major improvements in pipeline which includes but not limited to "Exporting styled data", "ColSpan and RowSpan" operations, "Formulas support" and so on.

Stay tuned.

[2018-03-02 15:18] quarleswn commented on #22
Any further news on this? Is basic styling such as bold/italic also still in the pipeline? Or is it already possible in the current version?

[2018-03-06 04:14] anovags commented on #22
maybe there's a workaround for current version, for a simple bold/italic styling perhaps?

[2018-03-06 10:50] securedeveloper commented on #22
@anovags @quarleswn @alexeymakarov90 all requests you guys made are already implemented (But unfortunately my reviewer is not ready to review changes yet, I will wait for 1 more day otherwise will by bass and release those changes)

[2018-03-09 16:18] colinrcummings commented on #22
@securedeveloper, this is a great library. looking forward to these changes.

[2018-03-12 09:47] jamalashrafi commented on #22
Hi Sulaiman when will u check in the updated code, we are waiting .

[2018-03-21 21:37] dannegm commented on #22
I thnik that, `js-xlsx` have options to apply styles to the cells

https://github.com/SheetJS/js-xlsx/blob/master/docbits/64_cellprops.md
https://github.com/SheetJS/js-xlsx/blob/master/docbits/51_cell.md

[2018-03-25 07:42] escarabin opened #25 "Export to CSV and XLS"
Hi,

Thanks a lot for your work on this great plugin. I am able to export XLSX files without any problem but you don't mention in the docs how to export to CSV or XLS. Also, does this plugin export to PDF?

Thanks a lot for your help,

Cheers

[2018-03-26 09:15] escarabin opened #26 "Change download button title"
Hi,

Thanks a lot for your work on this great plugin. I would like to change the default button "Download" text and there is nothing in the doc mentioning that, I have made tons of research ? Could you please help me 🙏🏻

Thanks a lot for your help,

Cheers

[2018-03-27 08:37] securedeveloper commented on #26
Hello @escarabin ,
You can pass `<ExcelFile ....  element={<button>Download Report</button>}> ...` and you are done, work on documentation in in progress.

[2018-03-27 08:37] #26 closed

[2018-03-27 13:18] escarabin commented on #25
bump?

[2018-03-27 13:20] securedeveloper commented on #25
Still on it 🚶

[2018-04-01 22:11] thecatyakk opened #28 "Custom style Download button"
Hi,
how i custom style Download button .

thank for help me

[2018-04-02 14:34] securedeveloper commented on #28
@thecatyakk Please [check here](https://github.com/securedeveloper/react-data-export/blob/master/examples/with_custom_download_element.md) for custom styled download button.

I just updated ReadMe, please try to go through it.

[2018-04-02 14:34] #28 closed

[2018-04-02 14:37] securedeveloper commented on #22
@abiodunsulaiman694 @alexeymakarov90 @quarleswn @anovags @colinrcummings @jamalashrafi @dannegm this feature is implemented. Please feel free to try and let us know about your feedback.

[2018-04-02 14:37] #22 closed

[2018-04-03 19:04] rajeshgutta opened #30 "hide the download button"
Hi,

Thanks for building this awesome package. I want to make a small change where we give a prop to hide the download button. So if we have a prop `hideElement` set to true on `ExcelFile`, we directly download the file without rendering the download button. I made the change and have a branch ready. Please let me know how I can push the changes and create a Pull request for this.

[2018-04-03 21:29] securedeveloper commented on #30
Hello @rajeshgutta, I am happy that you wish to contribute to this project. Please follow [these rules](https://github.com/securedeveloper/react-data-export/blob/master/CONTRIBUTING.md) to contribute, and let me know if you are still unable to do it.

[2018-04-04 11:28] securedeveloper commented on #30
We just released you change in our latest deployment 🎉 ㊗️

[2018-04-04 11:28] #30 closed

[2018-04-05 07:00] leon-jasper opened #39 "Props not defined"
Hello, I got the folowwing error when I tried to integrate the export feature:
[code]
I got it working in a fresh create-react-app, but not in my main app (the basic example with sample data)

thanks in advance!

[2018-04-05 08:09] leon-jasper commented on #39
it's working now, thanks a lot!
Do you have an idea how I could speed up an excel export with 30k rows?

[2018-04-05 08:32] securedeveloper commented on #39
We have two approaches for reading dataset in our library, If you go with array approach it will be faster than object approach.

[2018-04-10 22:07] colinrcummings commented on #22
Thank you, @securedeveloper. I just updated to 0.3.7 and am adding style to an export. Is there a way to set column and row widths ([AutoFit Column Width](https://support.office.com/en-us/article/change-the-column-width-and-row-height-72f5e3cc-994d-43e8-ae58-9774a0905f46) is what I'm looking for at the moment)?

[2018-04-11 07:42] securedeveloper commented on #22
Hi @colinrcummings it is a good feature, I'm looking into it.

[2018-04-11 12:55] colinrcummings commented on #22
Hey, @securedeveloper. The [original fork](https://github.com/protobi/js-xlsx) of [`SheetJS`](https://github.com/SheetJS/js-xlsx) that [you forked](https://github.com/securedeveloper/js-xlsx) for `react-data-export` [isn't actively maintained](https://github.com/protobi/js-xlsx/issues/90#issuecomment-371560391) as styles were implemented in [`SheetJS Pro`](http://sheetjs.com/pro). Both forks don't

[2018-04-11 13:37] securedeveloper commented on #22
Hi @colinrcummings, I just checked the references you mentioned, the idea of using a fork of `xlsx` library was to make sure we do not break things if something goes wrong with that repo, we have a plan to reference back to original repo as they are still working on this support.

Also, `Autofit Column Width` is possible if we go with content length, I already tested it few days ago. I just need t

[2018-04-11 14:32] colinrcummings commented on #22
Sounds good, @securedeveloper. Being able to style columns would be great. Thanks again for your work on this.

[2018-04-16 11:25] diegovasquesmellet opened #41 "Error when installing API"
I'm facing an issue when trying to install latest version of react-data-export.
I've added `"react-data-export": "^0.3.7"` to my POM.xml and I'm receiving the following error:
`[ERROR] npm ERR! Error while executing:`
`[ERROR] npm ERR! C:\Program Files (x86)\Git\bin\git.EXE ls-remote -h -t https://github.com/securedeveloper/js-xlsx.git`
`[ERROR] npm ERR!`
`[ERROR] npm ERR! fatal: unable to access

[2018-04-16 14:05] securedeveloper commented on #41
Hello @diegovasquesmellet can you please share your `config` file, seems like you have internet connection problem,

[2018-04-16 14:35] juanpicado commented on #41
@diegovasquesmellet could you try with `npm install` out of maven environment to see whether works correctly?

[2018-04-16 14:41] diegovasquesmellet commented on #41
If by config you meant my pom.xml, please check below:

<plugin>
                <groupId>com.github.eirslett</groupId>
                <artifactId>frontend-maven-plugin</artifactId>
                <configuration>
                    <workingDirectory>src/main/webapp/static/app</workingDirectory>
                </configuration>
                <version>1.5</version>
                <executions>

[2018-04-16 14:49] diegovasquesmellet commented on #41
If by config file you meant my pom.xml, please check below:
`<plugin>`
                `<groupId>com.github.eirslett</groupId>`
                `<artifactId>frontend-maven-plugin</artifactId>`
                `<configuration>`
                    `<workingDirectory>src/main/webapp/static/app</workingDirectory>`
               ` </configuration>`
               ` <version>1.5</version>`

[2018-04-16 14:52] diegovasquesmellet commented on #41
@juanpicado tried outside maven environment and it was the same error.

[2018-04-16 14:57] diegovasquesmellet commented on #41
Weird is that this is only happening with the `xlsx' API.
I've tried for testing purpose installing separately the other dependency from `react-data-export` which is the `file-saver` and it was installed correctly..

[2018-04-16 17:17] securedeveloper commented on #41
@diegovasquesmellet it seems like you are using node version `<5` which it making problem, please try to update node version if possible, and let us know if it will fix your issue. otherwise we can dig into issue with more details.

[2018-04-16 19:04] juanpicado opened #43 "Jest support"
#### My reason:
Jest is better

[2018-04-16 19:45] juanpicado opened #45 "Prettier support"
#### My reason:

Helps with multiple eslint warnings

[2018-04-17 07:27] securedeveloper commented on #41
@diegovasquesmellet Did you manage to solve the issue ?

[2018-04-17 08:58] diegovasquesmellet commented on #41
Just tried.
Updated node to version 9.11.1 and npm to 5.6.0 and it's the same issue.

[2018-04-17 11:07] diegovasquesmellet commented on #41
I'm trying to check with my infrastructure team if this could be the firewall blocking the access to GitHub host.

[2018-04-17 16:03] pedrobrost commented on #22
It would very nice to have the AutoFit feature :)

[2018-04-19 10:12] diegovasquesmellet commented on #41
Actually: `xlsx-style: 0.8.13` ?

[2018-04-19 10:55] securedeveloper commented on #41
Hi @diegovasquesmellet we used our own fork of `xlsx` untill the original repo start supporting `cell` styling, we didn't use `xlsx-style` because of it's supporting nature they might have deprecate it any time. Will investigate and might publish this temporarily on npm. if that might help.

[2018-04-19 10:58] diegovasquesmellet commented on #41
Is it possible to publish this fork of yours into NPM?

[2018-04-19 10:59] diegovasquesmellet commented on #41
My issue is that I can't install API's that are located outside my companies network. If the `xlsx` could be published on NPM it would be great.

[2018-04-19 11:03] diegovasquesmellet commented on #41
In the meantime; You're saying that `xlsx-style` do not support spreadsheet styling?

[2018-04-19 11:43] securedeveloper commented on #41
Well, `xlsx-style` support cell styling and I fork from them, but just to make sure things are maintained and not broken we needed our own fork and yes it is possible to publish with `npm`

[2018-04-19 12:42] diegovasquesmellet commented on #41
Well, it would be great to have this published on NPM in a non temporarily status.
Thank you all for the support!

[2018-04-19 22:59] diegovasquesmellet commented on #41
When would you think is it possible to have the API published on NPM?

[2018-04-20 06:30] securedeveloper commented on #41
Today I will publish it so it will be ready.

[2018-04-20 08:55] diegovasquesmellet commented on #41
That will be awesome! Thanks!

[2018-04-23 08:55] diegovasquesmellet commented on #41
It was published?

[2018-04-24 09:16] diegovasquesmellet commented on #41
@securedeveloper any updats?
Thanks.

[2018-04-24 14:35] diegovasquesmellet commented on #41
Great. I'll be waiting for it so I can test! Thanks.

[2018-04-24 21:09] diegovasquesmellet commented on #41
What do you mean by “break the normal pipeline”?

[2018-04-24 21:12] securedeveloper commented on #41
@diegovasquesmellet Can you please try version 0.4.2, I am quite sure it will work for you too.

I just break mistakenly project pipeline, but is OK now.

[2018-04-24 21:28] diegovasquesmellet commented on #41
I see in your package.json has no changes related to the xlsx. Why do you think it will work?
Tomorrow I can try and let you know

[2018-04-25 08:27] diegovasquesmellet commented on #41
@securedeveloper Same error :(
`[ERROR] npm ERR! fatal: unable to access 'https://github.com/securedeveloper/js-xlsx.git/': Could not resolve host: github.com`

[2018-04-25 12:11] securedeveloper commented on #41
Hi @diegovasquesmellet , can you please try to clone `https://github.com/securedeveloper/js-xlsx.git/` locally and see it that works,

[2018-04-25 15:00] diegovasquesmellet commented on #41
Even if I do this and works for me locally, it won't help when deploying the application because firewall will block the github host :(
Is really a problem to add this fork of yours into NPM environment?

[2018-04-26 11:52] diegovasquesmellet commented on #41
It will be possible to add this fork on NPM environment? If not its ok and I appreciate the support, i just need to know if I'll have to look for another API.

Thanks

[2018-04-26 12:02] securedeveloper commented on #41
@diegovasquesmellet the published package is ready, I just need to change configuration on library. It will be ready on Weekend. Because of testing in different environments it's gonna take a bit. But you will definitely have a solution till this weekend. Thanks :)

[2018-04-26 12:18] diegovasquesmellet commented on #41
Sounds perfect! Thank you all.

[2018-04-27 20:43] FBBZ opened #49 "PoSh Newbie"
I am brand new to PoSh and I am looking for some assistance with, I am assuming an easy for you all script.  I have to pull data from Excel (ONLY 2 columns of LastName, FirstName, 15 Rows) into PoSh, then into a new Excel spreadsheet, putting the 2 columns of data into 1 column. Any help would be grealy appreciated!

[2018-05-01 17:09] diegovasquesmellet commented on #41
Any news?
Thanks.

[2018-05-07 08:36] diegovasquesmellet commented on #41
ping.

[2018-05-07 19:06] pedrobrost opened #50 "Is there any way to achieve a "colspan" feature?"
I need to group two columns in one, do you know if I can try something to achieve this?

It would be amazing to have a colspan feature :)

Thanks!

[2018-05-08 07:37] securedeveloper commented on #41
Hi @diegovasquesmellet because the original package does not allow such distribution to `npm` I can only use their package or a fork, I'm in contact and we will have something very soon.

[2018-05-08 07:38] securedeveloper commented on #49
Hey @FBBZ, Yes it sounds pretty easy, put this package is meant to export only. it has a dependency `xlsx` you can use to read `excel file` and then you can export as you want. Hope this help.

[2018-05-08 07:38] #49 closed

[2018-05-08 07:43] securedeveloper commented on #50
Hi @pedrobrost, We are using a forked version of `js-xlsx` library and for the moment it does not support colspan [How to write merged Cells #92](https://github.com/SheetJS/js-xlsx/issues/92),

But, with our forked version, you can get the merged styled look by applying style to it (eg, white background and/or no borders),

Hope this will help, re-open this issue if you need further help.

[2018-05-08 07:43] #50 closed

[2018-05-08 09:17] diegovasquesmellet commented on #41
Ok. Thanks. :)

[2018-05-08 13:32] FBBZ commented on #49
Thank You, it does.

-------- Original message --------From: Afzal Ahmad <notifications@github.com> Date: 5/8/18  3:38 AM  (GMT-05:00) To: securedeveloper/react-data-export <react-data-export@noreply.github.com> Cc: FBBZ <zach15f@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [securedeveloper/react-data-export] PoSh Newbie (#49)
Hey @FBBZ, Yes it sounds pretty easy, put this package

[2018-05-15 12:56] diegovasquesmellet commented on #41
No good news here, right? :(

[2018-05-18 05:24] arpitprod opened #54 "First fetch data from server then export xlsx file with same click"
First I want to fetch data with API then that data should download with react-data-export.
For this, I want to use single button for both work.

this time, I'm using like this -
`<Button onClick={this.fetchData}>Fetch Data</Button>`

[code]
and then Download data -

[code]

but Buttons will show 2 times. it's not good looking for users.

So, How can I fetch and download data with only one click ?

[2018-05-18 06:12] arpitprod commented on #54
We can use like this

[code]

[2018-05-18 06:57] securedeveloper commented on #54
Hi @arpitprod in your case you can use `hideElement` property, you can call exactly like above code and it will work.

[2018-05-18 09:26] arpitprod commented on #54
@securedeveloper How to add sheet style like this image with json dataset, there thousands rows so, I can't add style in every cell like example 4

![html-table-example-2](https://user-images.githubusercontent.com/19798516/40226976-d99dc894-5aaa-11e8-83c6-5985f11d26e0.gif)

[2018-05-19 05:24] arpitprod opened #55 "TypeError: s.t.match is not a function"
I'm using 'Excel Export with custom cells style' example and adding dynamic content. When I'm using your example then excelsheet is downloading with correct data but when I'm passing dynamic data then it's showing error

`TypeError: s.t.match is not a function`

If I restart my server then many times this error not showing but data also not fetch in excelsheet after download

Sample code is here

[2018-05-19 07:39] arpitprod commented on #55
@securedeveloper same issue with this code also

`TypeError: s.t.match is not a function`

[2018-05-19 10:01] securedeveloper commented on #55
I'll check it and will get back to you after some debugging.

[2018-05-21 18:40] arpitprod commented on #55
ok

[2018-05-24 09:10] diegovasquesmellet commented on #41
Thanks :)

[2018-05-24 16:37] jackreacher1994 opened #56 "Cannot import to use this useful library"
After I installed react-data-export, xlsx, json-loader, file-saver packages and coded following your example, I faced with this error :

Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up de

[2018-05-26 15:54] #56 closed

[2018-06-12 07:28] minhtd1981 commented on #55
Hi @securedeveloper,

I'd like to contribute a little bit on this project. This error occurred when s.t is not a string for instance a number.

If you are using dataSet, getCell() should be modified a little bit
    } else if (typeof v === 'object') {
        cell.v = v.value;
        cell.s = v.style;
        if (typeof v === 'number') cell.t = 'n'
    }

If you are using data, createSheetData()

[2018-06-12 10:27] securedeveloper commented on #55
Hi @minhtd1981,

Nice to have you on board, and pointing out the solution. Please create a PR on base of your solution and this weekend I will make sure to merge all feedback solutions and will publish next release after testing.

[2018-06-12 20:54] gmonte commented on #22
Hi guys. About AutoFit, any news?

[2018-06-12 21:11] gmonte commented on #55
Try set cell value always as a string (not number or null or undefined or anything). This work for me

[2018-06-13 08:16] minhtd1981 commented on #55
@gmonte then you cannot use numFmt ;-)
@securedeveloper I will try to arrange time to do that

[2018-06-14 14:01] bg87 opened #57 "Fetch data before download"
#### My reason: app needs to get the data before downloading it
#### Steps to reproduce:
#### Lib Version:

Is there any way to keep react-data-export from exporting until after the app gets the data. In all of the examples the data is already available but I have a case where I need to fetch the data to be exported only when the user clicks the export button.

[2018-06-21 08:57] aakashgupta0205 opened #58 "No git binary found in $PATH"
When I try to install react-data-export, npm complains that no git binary found. Usually npm does not require git executables to be present on the system. However, if I do put git in my path it works. It is a huge impediment during deployment because I can't guarantee that git client is installed on the server.

![issue](https://user-images.githubusercontent.com/15355381/41708794-23d1cfda-7574-11e

[2018-06-24 15:52] jesse-villafane opened #59 "Handling Nested Objects"
In the provided examples, the json object is flat. If you want to use a dataset with nested objects, be aware that it may not be so clear how to access the nested object attribute.

Here is the structure of my dataset:

**activitiesList**
`[{
            "id": 1,
            "activityName": "My Fundraiser"
            "organization": {
                "id": 10,
                "organizationName":

[2018-06-24 15:58] securedeveloper commented on #59
Hello @jesse-villafane, to access nested object properties you need to pass a callback, which you already did in your 2nd example,

In order to have a styled document, you need to pass a multidimensional  array of objects with specified properties. (which means you have to pass a ready dataset to the library).

But again, if you don't care about document styling go with 1st approach, pass a callba

[2018-06-24 16:03] securedeveloper commented on #57
a small example to help you.

[code]

Hopefully this will help, re-open the issue if you need more help. :)

[2018-06-24 16:03] #57 closed

[2018-06-24 16:04] securedeveloper commented on #45
@juanpicado on it.

[2018-06-24 16:04] #45 closed

[2018-06-24 16:05] securedeveloper commented on #58
Hi @aakashgupta0205 I'm currently investigating this issue, will get back to you with a solution, please feel free to contribute if you find any suitable solution.

[2018-06-24 17:19] jesse-villafane commented on #59
Excellent, this answers question. Thank you!

[2018-06-24 17:44] #59 closed

[2018-06-26 03:09] hyrin65 opened #60 "How to set width for Columns"
Hi,
Please help me. How to set width for Columns for excel file export.
Thank you

[2018-06-28 15:30] paolospag opened #61 "How to set bold for ExcelColumn"
Hi,
I'm looking for a package that exports data from HTML table to Excel file and this module does exactly what I wanted.

I'm using this examples:
https://github.com/securedeveloper/react-data-export/blob/master/examples/with_custom_download_element.md
because my case is very similar, but I want to set bold font-weight in the first row of Excel file (i.e. the headings).

Is there a way to do that

[2018-06-29 10:44] securedeveloper commented on #61
Hi @paolospag,

Please check this example [https://github.com/securedeveloper/react-data-export/blob/master/examples/styled_excel_sheet.md](https://github.com/securedeveloper/react-data-export/blob/master/examples/styled_excel_sheet.md)

This should solve your requirement.

[2018-06-29 10:44] #61 closed

[2018-07-11 06:11] jsmani81 commented on #41
I am also facing same issue. In Jenkins while building it is throwing same error as mentioned. do we have any work around for this.

[2018-07-11 06:13] jsmani81 commented on #41
error An unexpected error occurred: "Refusing to download the git repo {\"hostname\":\"github.com\",\"protocol\":\"https:\",\"repository\":\"https://github.com/securedeveloper/js-xlsx.git\"} over HTTPS without a commit hash - possible certificate error?".

[2018-07-11 23:11] hlyford opened #62 "Recommended process for conditional columns (getting corrupt file)"
Awesome library. Thanks for the work on this!

I think a common use case is that the user only want certain columns on their export. I accomplished this via an array of columns with each column being added if it matches some conditional (because you get errors if you try to put a conditional as a child of <ExcelFile /> in the jsx). Example of how I did this:

[code]

ISSUE:
When I export the file

[2018-07-14 00:01] diegohdez90 commented on #22
Hi programmers, it would be nice if add `style` for `data` key in `ExcelSheet Props`, what do you think?

[2018-07-14 04:22] arif25169 opened #63 "Columns Key"
Is there any way to user the column key and title like this
`  {title: "Name", dataKey: "name"},`  for multidataset.

[2018-07-14 07:04] nhancdt commented on #60
same question.

[2018-07-14 08:19] nhancdt commented on #60
OK i know it.

https://github.com/securedeveloper/react-data-export/pull/53

[2018-07-18 05:10] thinhnk commented on #54
@arpitprod  after the first download => set state data = null.
That is my trick.

[2018-07-18 06:49] securedeveloper commented on #54
@arpitprod Please go either with the solution @thinhnk suggested or use a callback which delivers prepared data each time instead of state.

[2018-07-18 06:52] securedeveloper commented on #63
@arif25169 with [simple excel export](https://github.com/securedeveloper/react-data-export/blob/master/examples/simple_excel_export_01.md) you can define `label` and `value` keys for the columns,
However with big data set it is not possible yet. But I'll include it to my next plan notes and will include in in next release.

[2018-07-18 06:52] #63 closed

[2018-07-18 06:55] securedeveloper commented on #62
Hi @hlyford,

This is the issue you will get if there is a mismatch of datatype, I am not sure which data type you are getting at the end but It is for sure data type mismatch.

Alternatively you can try [export with dataset](https://github.com/securedeveloper/react-data-export/blob/master/examples/simple_excel_export_02.md) or [multi dataset export](https://github.com/securedeveloper/react-data-e

[2018-07-18 06:56] securedeveloper commented on #60
It's gonna be in next release, hopefully next week.

[2018-07-18 06:56] #60 closed

[2018-07-18 06:57] securedeveloper commented on #58
duplicate #41

[2018-07-18 06:57] #58 closed

[2018-07-28 11:16] daugsbi opened #64 "Typescript definitions for components"
#### Suggestion:
I would like to use this library in a typescript project. I tried to type the index.js file, but I couldn't find a way to express the export definitions in typescript. So I changed the index.js file, but this would be a breaking change in the API.
In addition I exported the react component with the existing typings and referenced the types in the package.json.

Please let me know

[2018-08-01 14:25] TobalOW commented on #41
same error here

[2018-08-03 08:35] b0gd4n opened #65 "fs missing"
Hey there,

Trying to follow the simple example, but I am getting the following error while compiling:

`* fs in ./node_modules/xlsx/xlsx.js, ./node_modules/xlsx/ods.js`

I tried running `npm install --save fs` but it has the same result.

[2018-08-06 13:15] harbingernirmaltailor opened #66 "How to increase column width while downloading excel ?"
Hey ,

How i can increase column width while i am downloading excel file ?

Please help.

[2018-08-06 13:48] securedeveloper commented on #66
It's not supported yet, but we are working on it and will be supported in next release soon. Stay tuned.

[2018-08-06 13:49] #62 closed

[2018-08-06 13:49] #54 closed

[2018-08-06 13:50] securedeveloper commented on #65
in webpack configuration file (or any other entry configuration file), set `node: {fs: 'empty'},` and it will work.

[2018-08-06 13:52] securedeveloper commented on #64
Hi @daugsbi,

Thank you for deciding to participate to this library, and sorry for the delayed response as I was on summer vacations,

You are welcome to submit a *PR* and I will review it on my priority,

Br,

[2018-08-06 19:11] adityafuture01 opened #67 "Resolve dependencies in react-parcel project"
Hi,

I working on a react project which is built on Parcel bundler instead of Webpack.

React Data Export used file-saver, json-loader and xlsx. I have installed all these dependencies in my package.json. But the application still throwing the below error,

Uncaught Error: Cannot find module 'jszip'
    at newRequire (src.61e5e814.js:39)
    at localRequire (src.61e5e814.js:54)
    at make_xlsx (x

[2018-08-06 19:35] adityafuture01 commented on #67
Hello @securedeveloper, I did install the jszip in my project but the error is still the same. Below is the error complete stacktrace,

The version of installed dependencies are,
file-saver: 1.3.8
json-loader: 0.5.7
jszip: 3.1.5,
xlsx: 0.13.3

I see the following dependencies in react data export package.json.

"dependencies": {
    "file-saver": "1.3.3",
    "xlsx": "git+https://github.com/secure

[2018-08-06 19:39] securedeveloper commented on #67
@adityafuture01 we are using an alias library for `xlsx` to support styling in excel. The library we are using is [https://www.npmjs.com/package/xlsx-style](https://www.npmjs.com/package/xlsx-style) please try to install that package as well. I hope it will work with that library.

[2018-08-06 19:49] adityafuture01 commented on #67
@securedeveloper, I did install the xlsx-style. The issue is still the same.

**Uncaught Error: Cannot find module 'jszip'
    at newRequire (src.61e5e814.js:39)
    at localRequire (src.61e5e814.js:54)
    at make_xlsx (xlsx.js:1344)
    at Object.parcelRequire.../node_modules/react-data-export/node_modules/xlsx/xlsx.js../dist/cpexcel (xlsx.js:6)
    at newRequire (src.61e5e814.js:48)
    at loca

[2018-08-06 19:55] securedeveloper commented on #67
@adityafuture01 give me some time and I will get back to you after testing this project with `Parcel bundler`

[2018-08-06 19:56] adityafuture01 commented on #67
Thank you @securedeveloper

[2018-08-07 03:49] lvlw commented on #41
same error here +1

[2018-08-07 08:58] securedeveloper commented on #41
@diegovasquesmellet, @jsmani81, @TobalOW we have a new version which will fix these issues, we are going to release after this week. It's still in testing phase.

[2018-08-08 10:48] sunil4444 opened #68 "Not able to install react-data-export"
#### My reason:
Not able to install react-data-export
#### Steps to reproduce:

yarn add react-data-export
yarn add v1.3.2
[1/4] Resolving packages...
error Refusing to download the git repo {"hostname":"github.com","protocol":"https:","repository":"https://github.com/securedeveloper/js-xlsx.git"}
over HTTPS without a commit hash - possible certificate error?
info Visit https://yarnpkg.com/en/docs

[2018-08-13 15:11] vvicario commented on #22
HI! About AutoFit, any news?

[2018-08-24 10:06] makijaveli commented on #66
When will be the new version?

[2018-08-27 15:36] chrisreactnative opened #69 "Column width"
Hey, is there any update on when the ability to change column width will be added to this repo?
Thanks

[2018-08-29 02:43] mysticstars opened #70 "Style not showing in excel file"
I am able to download an excel file with the example provided, i.e. Excel Export with custom cells style. However, the styles could not be applied to the cells. Am I missing out on something for the example to work?
![capture](https://user-images.githubusercontent.com/42792338/44762031-1dd93700-ab78-11e8-9aee-f5b9b5247ccb.JPG)

[2018-08-29 08:30] securedeveloper commented on #70
@mysticstars please share the code you are using to produce excel file.

[2018-08-29 14:01] mysticstars commented on #70
@securedeveloper

Below are the code i used to produce the excel file. I am using react-data-export v0.4.2  downloaded from > https://github.com/securedeveloper/react-data-export/tags

[App.js]
import React, {Component} from 'react';
import ReactExport from 'react-data-export';

const ExcelFile = ReactExport.ExcelFile;
const ExcelSheet = ReactExport.ExcelFile.ExcelSheet;

const multiDataSet = [

[2018-08-31 09:20] plainnany opened #71 "Can excelColumn value support a.b.c ?"
hi, there is my dataSource , just Like
[code]

Is possible to export info.location ?
I try to  ` <ExcelColumn label="location" value="info.location"} />`, but it doesn't work

[2018-08-31 11:03] securedeveloper commented on #71
@plainnany please use `<ExcelColumn label="location" value="(col) => col.info.location"} />`

[2018-08-31 11:15] securedeveloper commented on #70
@mysticstars I had a chance to look into the snippet you shared, and magically it works fine for me,
![screen shot 2018-08-31 at 13 13 16](https://user-images.githubusercontent.com/4705281/44909466-c1b11700-ad1f-11e8-9978-7c087e20e736.png)

Please try again by uninstalling/installing the library again, I'm closing this issue, feel free to open if your issue still persist.

[2018-08-31 11:15] #70 closed

[2018-08-31 11:16] securedeveloper commented on #71
I hope this will work, I'm closing this issue, feel free to re-open if you still have any related issues. :)

[2018-08-31 11:16] #71 closed

[2018-09-03 06:28] josealvaradoo commented on #65
Thank you @securedeveloper
it's working.

[2018-09-03 07:38] mysticstars opened #72 "Style not showing in excel file (Re-Open#70)"
Hi, may I check with you what is the version you are using for xlsx and file-saver? I have re-downloaded react-data-export 0.4.2 and run the same example but the style is still not working.

I am using

[2018-09-03 07:49] #65 closed

[2018-09-06 05:03] Akshara89 opened #73 "Nested objects"
**Json List for data**
[{
id: 1,
name: "Bariatric Bed AH 1",
img_thumb: [  "tn-arjo-huntleigh-bariatric-bed-2.jpg"	],
asset_positions: [ {
id: 2,
name: John
}
]},
{
id: 2,
name: "Bariatric Bed AH 1",
img_thumb: [  "tn-arjo-huntleigh-bariatric-bed-2.jpg"	],
asset_positions: [ {
id: 2,
Name: Peter
}
]}
}
]

I want to get asset_positions.name .
I tried value=  {(col) => col.asset_positions.name}. But

[2018-09-06 05:33] josealvaradoo commented on #73
You could make an object without nested objects from your original data, maybe on `componentWillMount` method

[code]

You have to map each `asset_position` array. It is not a great solution, but is one. It would be ideal if the lib could use nested objects.

[2018-09-06 18:31] securedeveloper commented on #73
@Akshara89 hopefully the snippet by @josealvaradoo will help you, if not please get back and we will help you. Thanks @josealvaradoo ❤️

[2018-09-06 18:31] #73 closed

[2018-09-08 10:49] dvakerlis opened #74 "Iphone Problem."
For some reason that i can not understand when I'm trying to export the xlsx from an iphone the is download a .dms file and not the xlsx file. Can anyone help me with that?

[2018-09-10 08:28] touhami92 commented on #41
same error with current last version (0.4.2)

[2018-09-10 08:35] diegovasquesmellet commented on #41
Guys, give up, they’re not going to fix it. I’ve reported this issue 5 months ago and it’s on “will be released next week” state.

Just find yourselves another API.

[2018-09-10 10:04] securedeveloper commented on #41
@diegovasquesmellet I know it's been hard since I don't have much choice with the libraries (in my case I'm using `xlsx` and they don't have an open source which can support excel styling and other requirements. There are a couple of things which are still under development (as I wasn't working on this library for a while and unfortunately, Jira doesn't have any tool to change the status if someon

[2018-09-11 21:33] harry-sm commented on #64
Yes Please!

[2018-09-11 22:36] harry-sm commented on #67
@securedeveloper
I am having the same issue with jszip.

[2018-09-11 22:38] securedeveloper commented on #74
@dvakerlis I research about your issue, we are using a dependency `file-saver`, which unfortunately doesn't support Safari browser, can you please try to download with another browser. and let us know if it works.

[2018-09-11 22:38] #74 closed

[2018-09-11 22:39] securedeveloper commented on #67
@harry-sm are you using `webpack` configuration or you have another setup system?

[2018-09-11 22:43] harry-sm commented on #67
@securedeveloper
I am using parcel@1.9.7

[2018-09-11 22:46] securedeveloper commented on #67
Actually I already tested and investigated the above issue a bit, my suggestion will be adding `jzip`, and `file-saver` library by `CDN` or `npm`.

[2018-09-11 22:48] harry-sm commented on #67
@securedeveloper
I'll try that and let you know

[2018-09-11 23:09] harry-sm commented on #67
@securedeveloper
Still not working I have installed `file-saver` and `jzip` but still nothing.

 C:\Users\...\...\...\...\node_modules\xlsx\xlsx.js:1205:30: Cannot statically evaluate fs argument
  1203 | function readFileSync(filename, options) {
  1204 |        if(fs === undefined) fs = require('fs');

       |                                     ^
  1206 | }
  1207 |
![image](https://user-image

[2018-09-14 05:46] kamranhossain opened #75 "React.Fragment like support?"
Is there any support like react fragment give us? group a list of children of various api's data but showing them on one spreedsheet.

[2018-09-14 09:14] securedeveloper commented on #75
@kamranhossain can you please provide a concise example. Is this relevant https://github.com/securedeveloper/react-data-export/blob/master/examples/simple_excel_export_01.md

[2018-09-19 16:36] refeals opened #76 "Can't open files downloaded on Mac"
Hello! I'm using this library for a few days now without trouble on Ubuntu. The downloaded file opens correctly on my PC and Windows, but for some reason I get this error when trying to open the same file on a Mac:

“Excel could not open … because some content is unreadable”

I transferred the same file to my Ubuntu and it opens normally.

Has anyone gone through this? Maybe some encoding issue? I

[2018-09-20 13:41] freddiemixell commented on #65
@securedeveloper this helped me out as well thanks!

[2018-09-24 20:05] #41 closed

[2018-09-24 20:05] #55 closed

[2018-09-24 20:05] #66 closed

[2018-09-24 20:05] #67 closed

[2018-09-24 20:05] #68 closed

[2018-09-24 20:05] #69 closed

[2018-09-24 20:05] #72 closed

[2018-10-01 17:40] wagnerjt opened #81 "Active Sheet - Feature"
Active Sheet - Feature

#### My reason:
Having the ability to choose an active sheet based upon a prop on ExcelFile.

[2018-10-02 18:26] tiagohermano opened #82 "ExcelColumn width and style prop - Feature"
Pass a width prop to the ExcelColumn component.

#### My reason:
It would be nice to set the width for the column, so it can fit all the content inside the column's cells.
Maybe even implementing a prop for styling on ExcelColumn as well. I think it would be great being able to style the column titles.

[2018-10-03 09:50] securedeveloper commented on #82
@tiagohermano we already have this feature, please refer to ([https://github.com/securedeveloper/react-data-export/blob/master/examples/styled_excel_sheet.md](https://github.com/securedeveloper/react-data-export/blob/master/examples/styled_excel_sheet.md))

[2018-10-03 09:50] #82 closed

[2018-10-03 16:15] securedeveloper commented on #76
@refeals I'm also using MAC for development, also for testing. Can you please share the way you are producing the file, if possible also the excel file.
Thanks.

[2018-10-03 16:17] securedeveloper commented on #64
@daugsbi can you please submit your pull request, I had a chance to look at your code and it seems good to me, thanks.

[2018-10-03 16:29] refeals commented on #76
Since then I changed the way we're creating our files (backend is handling it) so I don't have an example anymore, but the file is as simple as you can get since it was just a first test version.

I tested it on a different Mac since the issue report with the same results.

The source is here:

[code]

[2018-10-03 16:34] securedeveloper commented on #76
Thanks, @refeals, will try with above structure and will get back to you with a valid solution (or at least the reason)

[2018-10-11 13:42] juanriglos opened #84 "React native"
Hello, does it works with react native? thanks!

[2018-10-19 13:42] ogodon opened #85 "Error by importing the project"
Hello,

I'm  trying to use this exciting library. After installing the react-data-export package in my existing react application I get an error when I import the package by using `import ReactExport from 'react-data-export';`

I have the following error.

[code]

[2018-10-23 12:10] igoriok1994 opened #86 "Importing errors"
Hi,

I can't resolve import errors.

Webpack 4
React
Babel 6

![image](https://user-images.githubusercontent.com/37294916/47359451-7be84d80-d6d5-11e8-8a72-ee01a6deb4b4.png)

Added vendor
![image](https://user-images.githubusercontent.com/37294916/47359470-8acf0000-d6d5-11e8-9cdd-5871d7abac49.png)

Added external & node

![image](https://user-images.githubusercontent.com/37294916/47359498-97ebef00-

[2018-10-24 06:52] igoriok1994 commented on #86
Solved by adding '../xlsx': 'var _XLSX' to webpack externals.
![image](https://user-images.githubusercontent.com/37294916/47411743-6aa14e80-d772-11e8-8f31-2bbfa0dacbd4.png)

[2018-10-24 08:07] tajveer-nijjar opened #87 "Title/header for tables in case of multiple data sets"
Hi,

(This is my first time raising an issue of github. So forgive for newbieness)
(I dont know if this should be an issue or a feature request.)

In case of multiple data sets, is there any way that we could have titles/headers for the individual tables? As an example:

![capture](https://user-images.githubusercontent.com/19258365/47415733-aa971e80-d7d0-11e8-9c4d-b1c04ad19ac3.PNG)

Thanks in adva

[2018-10-24 12:41] securedeveloper commented on #86
@igoriok1994 glad you solved it,

[2018-10-24 12:41] #86 closed

[2018-10-24 12:44] securedeveloper commented on #87
@tajveer-nijjar with current version it's possible because you have the possibility to style each cell by yourself, just take them as a normal cell and style them as header cells, should be an easy going.

[2018-10-24 12:45] securedeveloper commented on #84
@juanriglos it should work fine with `react native` as well.

[2018-10-24 12:45] #84 closed

[2018-10-29 12:53] egertaia opened #88 "Make header cell with possibility to style"
#### My reason:
I Would like for it to be possible to actually style the header cells.
#### Steps to reproduce:
Make style passable into the header cell.
Currently:
![image](https://user-images.githubusercontent.com/9960794/47650632-8305d480-db89-11e8-9287-4a50bba28460.png)
Possibility:
[code]
#### Lib Version: Latest

[2018-11-21 02:46] xariaSg commented on #85
I have the same error. I created a react app using create-react-app. The didn npm run eject.
Added the above configs to webpack.config.js. And still get the error.

[code]

[2018-12-21 10:59] mantegnous opened #89 "Function to call export excel doesn't' works!"
import { default as ExcelFile, ExcelSheet, ExcelColumn } from "react-data-export";

[code]

No works.. why?

[2018-12-27 07:16] pranaydp opened #90 "issue in react js dependence added time Module not found: Can't resolve 'react-data-export' using"
hello there,
facing an issue when adding dependencies...
I tried using this npm install react-data-export --save

error:-Module not found: Can't resolve 'react-data-export'

the same dependencies added using...
yarn add react-data-export
Module not found: Can't resolve 'xlsx' in 'D:\OFFICE\workspace\georeact\node_modules\tempa-xlsx'

please tell me out how to solve and add this component

[2018-12-29 05:53] uditdubey opened #91 "not able to use Colspan"
Hello,
I am not able to add the colspan in my code. Can anyone suggest how to add the colspan or else any styles we can add to make it look like colspan.
Great library !!

[2019-01-02 10:07] uditdubey commented on #87
Hello @securedeveloper ,
can you show with example how can we implement this?

Thanks

[2019-01-02 11:38] securedeveloper commented on #22
Hi @uditdubey, it's possible to apply `colspan` but unfortunately, the functionality is not supported yet with the current version. Will keep in the agenda for this year.

[2019-01-03 13:13] uditdubey commented on #22
Hi @securedeveloper i somehow managed to style the table to look like colspan. Is there anyway to style the column name border. As the style attribute works only for data array and not for column name. Stuck !!
![capture](https://user-images.githubusercontent.com/41045663/50639429-789bf880-0f87-11e9-9c23-b792b7bd5d03.PNG)

Thanks !!

[2019-01-07 09:54] haichaoshi commented on #90
This library uses file-saver and xlsx，Please install them

[2019-01-16 21:52] shal-xu commented on #89
Need to import like this (see [example](https://github.com/securedeveloper/react-data-export/blob/master/examples/simple_excel_export_01.md)):

`import React from "react";
import ReactExport from "react-data-export";

const ExcelFile = ReactExport.ExcelFile;
const ExcelSheet = ReactExport.ExcelFile.ExcelSheet;
const ExcelColumn = ReactExport.ExcelFile.ExcelColumn;`

[2019-01-24 12:23] sakhisheikh opened #92 "Cell Alignment failed"
I have tried many ways but haven't succeeded in cell alignment changed to right. Please let me know if this is possible. I have used `readingOrder`.

[code]
Is there anything I'm doing wrong here.
Thanks.

[2019-01-24 13:00] WhyItWorks opened #93 "Add images"
Can I add images ?

I need to create reports that contain the company logo

[2019-01-25 10:09] niickkk11212 opened #94 "Excel Says 'Recover File' When Try to Create More Than One Sheets"
#### My reason:
I am trying to create an Excel file with 2 Sheets containing different data. However, whenever I try to open the Excel file, Excel says I have to 'recover' the file before I can open it. After that, when it has opened the file, I notice that only one of the sheet is correct with the data I want. The other sheet is renamed as 'recovered_sheet' with the same data as the previous shee

[2019-01-29 18:48] WhyItWorks opened #95 "Colspam / Header Styles - Feature"
I would like to start by thanking you for your work. Your library is the most complete I have found.

However, there are some difficulties I have encounter:

**Colspan:** this functionality I have not found in any other component. With your library I have approached the desired result, but I am still far from my goal.

**Header column styles:** Header column styles can not be modified at this time

[2019-01-30 08:41] securedeveloper commented on #94
@chuhean I see you are using same name for 2 different sheet, please try with unique names for each sheet

[2019-01-30 08:44] securedeveloper commented on #92
`readingOrder` is not for cell alignment it's actually for `ltr` and `rtl`, try `{alignment: {horizontal: VALUE }}`

[2019-01-30 08:45] securedeveloper commented on #93
@WhyItWorks it's not supported yet, but I put your request on queue.

[2019-01-30 08:45] #93 closed

[2019-01-30 08:51] securedeveloper commented on #95
Thank you @WhyItWorks for kind words, I am working to make it better, I am using some open source libraries behind the scene to build and produce excel file but they do not support all these functionalities, like ColSpan etc. (at least not with their open source libraries), So I decided to build my own open source library for the purpose so that we can support all these functionalities with and fo

[2019-02-01 03:42] chuhean commented on #94
Thanks for your reply. Just wondering, is there a way to add bar chart into the excel sheet? I can't seem to find any relevant info from the docs so far.

[2019-02-01 07:34] securedeveloper commented on #94
@chuhean not yet with this library, but I'm adding all the macro support in upcoming excel API [https://github.com/securedeveloper/javascript-excel](https://github.com/securedeveloper/javascript-excel)

[2019-02-01 08:07] chuhean commented on #94
@securedeveloper No problem. Thanks a lot.

[2019-02-09 08:51] masog opened #96 "How to merge to cell"
I want to merge cell when I export to excel file。but I don't know how to do this，is this a example which merges cell ? Thank you very much!

[2019-02-27 18:27] xadamxk commented on #95
@securedeveloper is javascript-excel capable of styling table headers? Thanks for your work thus far.

[2019-03-06 21:29] lloyddugmore commented on #96
would also love to know this.

[2019-03-16 17:57] jprcoder opened #97 "How to set the column width automatically"
#### My reason:
#### Steps to reproduce:
#### Lib Version:

[2019-03-24 09:49] murali645 commented on #90
Hi ,

  I am faced same but I resolved using (npm install xlsx)

[2019-04-01 07:04] JTFlavier-Cob opened #98 "Support for header groups"
Hello there! Thank you for creating this library. It has been very helpful.

Does this library currently support header groups? I am using `react-table` to render tables with header groups that look like this (this table goes on until December):

![image](https://user-images.githubusercontent.com/48046595/55307609-9abfec80-548a-11e9-9feb-5b15bbb79367.png)

The JSON input for `react-table` looks so

[2019-04-01 09:10] securedeveloper commented on #98
unfortunately, it is not supported with header columns, only way was the one you already tried :)

[2019-04-02 15:49] romerioribeiro25 opened #99 "react-data-excel Hyperlinks"
how to create hyperlinks?

[2019-04-08 22:53] LakshmiDeviPalanivelu opened #100 "Module not found: Can't resolve 'prop-types' in \node_modules\react-data-export\dist\ExcelPlugin\components"
The above error is being thrown while running the example code being mentioned in github

[2019-04-16 13:36] aleknak commented on #85
@xariaSg `npm install xlsx --save` solved it for me.

[2019-05-13 04:04] varunkumar opened #101 "Is it able to possible to remove header row??"
Is it able to possible to remove header row??

[2019-05-17 13:01] Risheekesh opened #102 "How to add image in particular column"

[2019-05-19 08:32] b-asaf commented on #89
I encounter the same issue.
In order to resolve all the issues after adding the package to my project I had to:

1. update my `webpack config` (I am using webpack 4), I added:
[code]
2. I needed to add `xlsx` package to solve issue #90 (as the answer suggested):
`yarn add xlsx`

3. The code to export is:
[code]

[2019-05-19 13:36] b-asaf commented on #23
@securedeveloper @denvist
I tried to run the code above (on a new app using `npx create-react-app my-app`) and the code does not run, I did not even got to the excel.
I looked for a solution for export failure - see issue #89

[2019-06-04 09:14] mbohovic opened #103 "How use formula in dataSat"
My dataset is
 [{
                columns: [
                    {title: "A", style: {font: {bold: true}}, width: {wpx: 200}}, // pixels width
                    {title: "B", style: {font: {bold: true}}, width: {wch: 10}}, // char width
                    {title: "C", style: {font: {bold: true}}, width: {wpx: 90}},
                ],
                data: this.props.sourceData.reduce((acc, item)

[2019-07-02 15:42] nullphantom opened #106 "How to use styling only on header"
It is possible to use styling (change cell background) on Header Row only?

[2019-07-02 15:43] #106 closed

[2019-07-02 16:12] nullphantom opened #107 "How to use existing excel file as template"
I want to fill existing excel template file (it have header styling)

[2019-07-13 15:06] KienPM commented on #89
I have the same issue, any one solved this?

[2019-07-14 09:59] osamagoraya opened #109 "Make sheet/File right to left"
How to make the sheet or file as right to left, not just the columns.

[2019-07-14 11:11] b-asaf commented on #89
I am using different solution, I am using `xlsx` package directly:

[code]

[2019-07-18 12:24] saulojoab commented on #106
Did you learn how to do it?

[2019-07-19 09:11] MonsterDuang commented on #87
Hello, I also encountered a question to add a table title. Have you solved it?

[2019-07-20 11:15] gregholst opened #110 "xlsx dependency blows up webpack bundle size"
I like the easy creation of xlsx files with this package, but noticed that installation of the xlsx dependency blows up my production bundle from 1.27 to 2.65 MiB. Since my bundle is anyway too big, I am looking forward to the new version without the xlsx dependency. Any information on when it will be released?

[2019-07-23 13:48] vinicius-felix commented on #96
Nothing?

[2019-07-25 16:41] saulojoab commented on #97
Any luck on finding this out? I need the same thing.

[2019-08-03 15:25] Wasseratem opened #111 "Can I use NumFmt without a dataset?"
Hi,

Can I use NumFmt without a dataset?

So my code is like:

`
const ExcelFile = ReactExport.ExcelFile;
const ExcelSheet = ReactExport.ExcelFile.ExcelSheet;
const ExcelColumn = ReactExport.ExcelFile.ExcelColumn;

const ExportXls = ({ classes, title, data }) => {
    return (
        <ExcelFile filename={"ELO_Überwachung_" + (new Date()).toLocaleDateString()} element={
            <div className=

[2019-08-06 13:43] vinicius-felix commented on #101
[code]

[2019-08-07 13:15] anik587 opened #112 "React data export not working in web view"
React export excel not working on web view(android) but working on the browser.  My code is given below.
[code]
Normally download is working but downloading through webview (android) is not working.

#### Need to download using :
[code]

[2019-08-16 17:00] lexrom opened #113 "Style on <ExcelColumn> while using "data" not "dataSet" on <ExcelSheet>"
First of all, thanks for your great job, I love your data grid!

My question:
How do I set a style on "label" and "value" while using an <ExcelColumn> which is embraced by  <ExcelSheet> while using "**data**", not a "**dataSet**"?

I know how to style headers and cells while using a "dataSet", you describe it here very well here:
https://github.com/securedeveloper/react-data-export/blob/master/exa

[2019-08-21 09:03] sanghoTW opened #114 "I want to center the excel column, set a border"
#### My reason:
- I want to center the excel column, set a border. What should I do?
#### Steps to reproduce:
#### Lib Version:
- 0.5.0

- I want to center the excel column, set a border. What should I do? I didn't find a way. What should I do?

[2019-08-23 19:19] vinicius-felix commented on #114
[code]

[2019-08-23 19:47] vinicius-felix commented on #114
Maybe you can do this, removing the column and use data as title.

[code]

[2019-08-28 06:54] Dhara159 commented on #22
Hey @uditdubey Can you provide some hint on how you managed to do colSpan with header? I am using v0.4.2. Is repo support available for colspan till now?

[2019-10-15 20:28] jwrichardson15 commented on #113
I am having the same problem! Were you able to find a solution??

[2019-10-29 15:07] MajdMaghamez opened #119 "numFmt does not add a dollar sign in front of my munber"
I am trying to format a multidata set
i normalized my data to look exactly like the example on this link:
https://github.com/securedeveloper/react-data-export/blob/master/examples/styled_excel_sheet.md
and in style element i am doing the following:
style = { font: { color: { rgb: "FF000000" } }, numFmt : "$0.00"};
but once you export that excel file non of my values have a $ sign
I noticed the col

[2019-12-03 10:12] SivanKarthick opened #120 "How to change the excel file name"
#### My reason:
#### Steps to reproduce:
#### Lib Version:

[2019-12-13 09:31] shmilyoo commented on #55
the bug is due to xlsx.js, for the line s.t.match.  when s.t is not string, it will be an error.
according to @gmonte , not only the cell ,but also the header title, should be string.
I came across the but, because my table header, on of it , is a react element.
be ware of it!

[2020-01-09 10:23] jurepetrovic opened #122 "Warning: Module not found: Can't resolve '../xlsx'"
Hello,

Since the upgrade of all npm packages, I'm getting warning about ../xlsx file.

Compiled with warnings.

./node_modules/react-data-export/node_modules/tempa-xlsx/ods.js
Module not found: Can't resolve '../xlsx' in 'D:\VSCode\ordermanager.git\node_modules\react-data-export\node_modules\tempa-xlsx'

I've seen some similar issues, but none of the solutions seems to work.
I do not want to "eje

[2020-01-13 12:28] Michael-Reich commented on #122
Same, no solution currently

[2020-01-13 13:42] jurepetrovic commented on #122
I read a little bit around and at the end decided to remove
this dependency and make it simpler only with XLSX.

`

     exportFile() {
        // clean state
        this.removeData();
        // prepare new data
        this.transformData();
		/* convert state to workbook */
		const ws = XLSX.utils.aoa_to_sheet(this.state.data);
		const wb = XLSX.utils.book_new();
		XLSX.utils.book_append_sheet(

[2020-01-13 13:42] #122 closed

[2020-01-20 11:44] securedeveloper commented on #120
provide `name` prop, and you are there.

[2020-01-20 11:44] #120 closed

[2020-01-20 11:46] securedeveloper commented on #119
Please use a formated dataset in this case,

[2020-01-20 11:46] #119 closed

[2020-01-22 20:13] ipramono opened #123 "xlsx dependencies were not downloaded on the older version"
* Give a brief explanation of the issue, suggestion or feature to request.
I am using version 0.3.7, 7 days ago our deployment was still successful. It downloaded the xlsx package in the npm list. However, today when trying to run the same deployment without any change, I noticed the xlsx package is missing from the npm list.
Error message:
ERROR in ./node_modules/react-data-export/dist/ExcelPlugi

[2020-01-22 22:09] securedeveloper commented on #123
@ipramono I made a new release yesterday, if you're still using the old version, please update to the new one, incase the problem still persist please re-open the issue, I will be happy to help.

[2020-01-22 22:09] #123 closed

[2020-01-22 23:01] ipramono commented on #123
Hi @securedeveloper.
Fyi, when I used the latest one, it is complaining the same thing. It asked for xlsx, even though it was called by tempa-xlsx.
When I checked, it seems like tempa-xlsx requires xlsx 0.8.20 which is not existent anymore:
https://www.npmjs.com/package/xlsx

I fixed it by using the old version: `react-data-export@^0.3.7`, but add `xlsx@^0.9.0` in my packages.json

[2020-01-24 08:39] securedeveloper commented on #123
thanks, I already updated the package and will publish it today.

[2020-02-05 09:14] himalayantechies opened #126 "Column with dropdown select."
I wanted some of the columns to have drop down list options. Is this already built in it? cause i didn't found any in docs.

[2020-02-06 11:08] igoriok1994 opened #127 "How to use colspan?"
Hi,

I saw that you added **colspan** feature to this component, but I can find docs how to use it.
(https://github.com/securedeveloper/react-data-export/issues/22)

Can you provide a small example?

[2020-02-07 08:57] plainnany commented on #123
@securedeveloper hi, I use `react-data-export@0.6.0`, the question is stil existent

[2020-02-07 09:44] bamunusingha commented on #120
You should set `filename` prop, Not the `name` prop in `ExcelFile`

[2020-02-07 20:51] ipramono commented on #123
@plainnany If you want to follow my workaround, here it is:
I used: "react-data-export": "^0.3.7",
and add: "xlsx": "^0.9.0" on the dependencies.

[2020-02-10 17:23] wwojtowicz commented on #95
++
**Header column styles:** Header column styles can not be modified at this time

It would be nice if it were possible to style the header columns.

I found in code, that HederCell get always same style:
`var headerCellStyle = {font: {bold: true}};`

[code]

I'm talking about styling header columns like in this example:

[code]

[2020-03-11 13:31] Lord-Mendoza opened #128 "TypeError: Cannot read property 'name' of undefined at ExcelFile.js:89"
#### My reason:
For some reason as I'm debugging the code I see that it's trying to retrieve the SheetNames, but in the way that it's doing it sheet is getting passed in as " " and so when sheet.props is called its returning an error. I tried to specify the sheet name inside the ExcelSheet to no avail.
#### Steps to reproduce:
Setup some exportData variable with the same configuration as shown in

[2020-03-11 14:16] #128 closed, assigned to nobody

[2020-03-17 08:45] rhuanbarreto commented on #90
This didn't work for me. This is not a stable thing.

[2020-03-21 07:24] lowzijian opened #129 "Set Custom width to Excel Columns"
I tried doing :

![image](https://user-images.githubusercontent.com/40559529/77221778-d108e700-6b87-11ea-8f33-9666692d2400.png)

and
![image](https://user-images.githubusercontent.com/40559529/77221798-f138a600-6b87-11ea-8d4a-cddd6ea0f741.png)

it seems it doesnt have any effect on the excel file

[2020-03-21 09:39] lowzijian commented on #128
@Lord-Mendoza  what is the error ? Im also facing the same issue

[2020-03-21 13:26] Lord-Mendoza commented on #128
ExcelFile>    ExcelSheet>    /ExcelFile>

Make sure it's tight like:
ExcelFile>ExcelSheet>/ExcelFile>

(not sure why github hides the code, but the left < brackets should be there)

[2020-03-26 14:06] gsharp021 commented on #96
I dug through the code and I'm pretty sure they haven't implemented merging.  You can fake merging by changing the border color to white on cells that you want to look like they are merged.

[2020-03-30 12:47] Smriti29 commented on #90
Removing the following function from ods.js in tempa-xlsx worked for me. Its not required anyway.

var get_utils = function() {
	if(typeof XLSX !== 'undefined') return XLSX.utils;
	if(typeof module !== "undefined" && typeof require !== 'undefined') try {
		return require('../' + 'xlsx').utils;
	} catch(e) {
 		try { return require('./' + 'xlsx').utils; }
 		catch(ee) { return require('xl' + 'sx').

[2020-04-01 16:53] Bilal-Abbas opened #130 "Cannot read property 'match' of undefined"
I got stuck with the above issue.
any help?
My code is

![error](https://user-images.githubusercontent.com/40523465/78164812-ce4da200-7463-11ea-96a4-05bf812d9588.png)

[2020-04-01 18:14] sorokinvj commented on #130
Having the same issue

[code]

[2020-04-01 18:58] sorokinvj commented on #130
Ok, I got mine bug - one of the values in dataset was 'undefined', so this error was triggered

[2020-04-01 20:40] Pranav-Dakshina commented on #76
I'm facing the same issue. Excel needs to be repaired since it has unreadable content error.

[2020-04-02 11:29] sorokinvj commented on #81
how do you save different sheets (workbooks) in one file?

[2020-04-07 11:37] hyune7142 opened #131 "Cell Style - alignment/horizontal *(typing error)"
README.md - typing error

horizontal  : "bottom" or "center" or "top"  - Not Worked
horizontal  : "left" or "center" or "right" - Worked

[2020-04-14 11:32] Bilal-Abbas commented on #122
I have the same problem.
I was getting an error of "xlsx". I simply removed that with installing xlsx package but warning is still there.
Any help regarding that warning ?
My package.json has following packages

[code]

and my config file has following code

[code]
and if I tried to add vendor my code crashes

[code]

any help ?

[2020-04-14 18:54] Smriti29 commented on #130
Any luck?

[2020-04-15 00:06] Bilal-Abbas commented on #130
Yeah.
I will send you the trick in a moment :)

[2020-04-15 18:12] Bilal-Abbas commented on #130
Following data formulation worked for me.

[code]
That is

[code]

Import stuff
[code]
With dry code
[code]

Hope this will work :+1:

[2020-04-17 12:36] Smriti29 commented on #130
@Bilal-Abbas Thanks.. Its working :)

[2020-04-24 10:02] sorokinvj commented on #130
hey guys, just have another similar error - "Cannot read property 'match' of null", and it was because one of the {value: null} in multidataset.

So, just to sum up - all **value**'s in your dataset must be not undefined and not null. If it is – there will be an error and code will break

[2020-05-08 15:37] vpotluri1217 commented on #41
Just FYI, This is still happening...

[2020-05-08 15:37] vpotluri1217 commented on #41
fatal: unable to access 'https://github.com/securedeveloper/js-xlsx.git/': Failed to connect to github.com port 443: Timed out

[2020-05-11 15:25] glssravya commented on #113
I too have the same issue.can we add style attribute to ExcelColumn?

[2020-05-14 11:51] ogostos opened #133 "Is this package missing border styling?"
I'm using styles like it is defined in instructions.

`data: [
      [
        { value: 'Red', style: { border: { style: 'thick', color: { rgb: "FFFFAA00" } }, fill: { patternType: 'solid', fgColor: { rgb: 'FFFF0000' } } } },
      ],`

Still can't see any border. If there is no such functionality how can we implement it? Any ideas?

[2020-05-19 04:53] hadihammad commented on #90
Also removing one dot in this line
`> return require('./' + 'xlsx').utils;`
will make it work

[2020-06-12 01:05] jatinatgit opened #134 "Unable to print multiple datasets with same ySteps"
If I try to print two datasets with similar ySteps it should print those datasets parellely, but it is not the case.  For example,

 Both the ySteps are set to 0, but instead it is printing the second dataset with the ySteps from the place the first dataset has finished. Is there any solution to it?

[code]

[2020-07-06 01:54] sivatejareddy21 opened #135 "What is the expected new release date?"

[2020-07-24 09:13] GaurravsIN commented on #113
Any update on this issue?

[2020-08-06 08:59] simonstyleur commented on #99
any news about this

[2020-08-12 04:53] SaiRO97 commented on #99
need the same thing

[2020-08-13 08:48] SaiRO97 opened #138 "Export to CSV format not working"
#### My reason:
After exporting CSV format. File does not open. Writes like it's broken
#### Steps to reproduce:
Enter fileExtension prop in CSV format and download the file then try to open it
#### Lib Version:
"react-data-export": "^0.6.0",

When I generate an Excel file, everything works well, but when generating csv, the file either does not open or does not look readable. Is there any way to

[2020-08-13 18:13] mukeshbhargavan commented on #113
Hi Team, I am also facing the same issue. Is there any update on this?

[2020-08-15 16:24] absriv02 opened #139 "Date type column is not working"
I have date column in xlsx when download.
but when i applied filter its not working as expected, i need to change that date column from string to date type. and when i did that i got error below

xlsx.js?3478:4334 Uncaught TypeError: s.t.match is not a function
    at write_sst_xml (xlsx.js?3478:4334)
    at write_sst (xlsx.js?3478:8914)
    at write_zip (xlsx.js?3478:11783)
    at write_zip_type

[2020-08-16 20:45] Aarbel opened #140 "When re-write will come ?"
@securedeveloper when do you plan to bring the re-write you announce 1 year ago ? Do you need help ?
Thanks a lot for your work !

[code]

[2020-08-26 18:29] absriv02 commented on #139
please help on this.

[2020-09-17 13:42] lroca7 commented on #102
Hi, I have the same question you found some solution?

[2020-09-30 09:57] rvsharma commented on #90
could not find tempa-xlsx in node_module

[2020-10-16 18:07] samuelhulla opened #141 "Incorrect type definition - ExcelCell"
*Hello, I actually ran across this randomly while answering a question on stackoverflow, but either way*

### The current the typescript definition for `ExcelCell` is incorrect

 (and retro-actively where it's used)

Current definition:

[code]

This obviously makes no sense and would require you to recursively declare the `ExcelCell` inside the `value` property.

Supposed to be

[code]

[2020-10-22 12:22] w35l3y commented on #139
Sadly, I had to use `data` instead of `dataSet` to make it work.
Also, the cell value should be referenced directly instead of using `{value: new Date(), style: {...}}`

[2020-10-27 11:06] neeleshbisht99 commented on #54
How to set state data = null after the first download ??

[2020-10-27 11:49] arpitprod commented on #54
@neeleshbisht99 when you will be click on download button, call a function inside button with onClick and set data null with `setState`/`useState`
`this.setState({data: null})`
or if you are using function component
and you are using like `const [data, setData] = useState(null);`
then you can apply with `setData(null);`

[2020-10-27 11:57] neeleshbisht99 commented on #54
Thanks, that worked fine, but it would be better if there is an event listener, because it's very common case I guess. Or if we can override the button click.

[2020-10-27 15:53] neeleshbisht99 commented on #54
Files gets downloaded twice with the above method @arpitprod @securedeveloper

[2020-10-28 17:26] bilalashraf1710 commented on #96
Any update on Merge. I need to apply "Merge and Center" ( Merge cells and make the content center ).

[2020-11-04 06:04] mohitkyadav opened #144 "Can not see fill and font colors in .xlsx file with Microsoft excel when exporting"
#### My reason:
Can not see fill and font colors in .xlsx file with Microsoft excel when exporting using react-data-export
https://stackoverflow.com/questions/64673968/can-not-see-fill-and-font-colors-in-xlsx-file-with-mirosoft-excel-when-exportin
#### Steps to reproduce:
1. Export some styled data to excel file, make sure you use some kind of font color or fill color in styles.
2. Open the same f

[2020-11-04 08:28] YVeselovskyi commented on #144
I have same issue

[2020-11-04 10:12] mohitkyadav commented on #144
This is fixed, check my answer @YVeselovskyi  https://stackoverflow.com/questions/64673968/can-not-see-fill-and-font-colors-in-xlsx-file-with-mirosoft-excel-when-exportin/64678030#64678030

[2020-11-04 10:12] #144 closed, assigned to nobody

[2020-11-13 18:04] avivdaniel opened #145 "Images"
Hey, it is possible to add images to the exported Excel file? (as base64, or something else).

[2020-11-24 23:40] komarovalexander opened #146 "Typescript declarations do not work?"
Hi,
Thanks for your work on this library. I use typescript in my project and get next issue:

I import

[code]

and get
![image](https://user-images.githubusercontent.com/17903747/100163673-82e67900-2eb6-11eb-93e1-2191908abeaf.png)

but there is no available @types/react-data-export

how can I solve it?

Thanks

[2020-11-26 11:21] kalhan123 commented on #130
Hey guys, facing another similar error. "Cannot read property match of undefined" , only when i provide style attribute in the dataset. Any idea why it might be happening?

[2020-11-26 18:25] rajeshadduri commented on #130
I tried the example from
https://github.com/securedeveloper/react-data-export/blob/HEAD/examples/simple_excel_export_02.md

But I am getting below error, Can some please help ?

xlsx.js:4334 Uncaught TypeError: Cannot read property 'match' of undefined
    at write_sst_xml (xlsx.js:4334)
    at write_sst (xlsx.js:8914)
    at write_zip (xlsx.js:11783)
    at write_zip_type (xlsx.js:11859)
    at O

[2020-12-02 11:19] ganesh-sanap commented on #30
@securedeveloper, @rajeshgutta
Can we show/hide or disable download button based on the length of data array (disable button if array is empty and enable button click and download file if there is data in array)?

[2020-12-03 08:26] Quiet-Kid1 opened #147 "cant access nested json data ?"
why i cant access nested json data ?

my json is look like this:

data = [{
"name" : 'myName',
"address" : [{
                 "country" : "myCountry",
                  "city" : "myCity"
        }]
}]

how to get the value city and place it to ExcelColumn value ?
I'm trying to get that data with this address[0].city but did not work.. help please

[2020-12-09 08:24] ralphocdol commented on #146
`import ReactExport from 'react-data-export'/types;`

[2020-12-09 08:57] ralphocdol commented on #146
For some reason, the types in NPM package of react-data-export is different, maybe it's outdated. You have to do this yourself at least for now.

1. In this repo, go to `types/index.d.ts` [here](https://github.com/securedeveloper/react-data-export/blob/master/types/index.d.ts)
2. Either copy the codes or download the file.
3. Add it to your project, I added mine at `src/modules/types/react-data.ex

[2020-12-09 16:33] dhruv9499 commented on #130
Same issue.

[2020-12-17 06:04] masoodqss commented on #130
same issue here with this example
https://github.com/securedeveloper/react-data-export/blob/HEAD/examples/simple_excel_export_02.md

[2020-12-27 04:31] gdhelp03 commented on #90
https://github.com/securedeveloper/react-data-export/issues/85#issuecomment-483662347

solved for me

[2020-12-27 04:32] gdhelp03 commented on #122
solved for me

https://github.com/securedeveloper/react-data-export/issues/85#issuecomment-483662347

[2021-01-19 06:53] reyansh25 opened #149 "TypeError: s.t.match is not a function when trying to use style for Column heading"
#### My reason: Getting above error when trying to use style attribute for column headings
#### Steps to reproduce:
    const excelDetailColumns = [
      {
        value: '#',
        widthPx: 160,
        style: {
          border: {
            top: { style: 'thin', color: { rgb: 'FF000000' } },
            bottom: { style: 'thin', color: { rgb: 'FF000000' } },
            left: { style: 'thin'

[2021-01-27 10:16] wahyupriadi-edts commented on #55
I got this error and found out one of my variable passed to multiDataSet is not number or string.
So, either number or string still works, just make sure the type of data you define is one of them.

[2021-01-27 15:12] akawolfcito commented on #99
maybe someone found how to solve it?

[2021-02-01 02:48] rodrilima commented on #149
+1

[2021-02-10 05:21] rishhub-jain opened #150 "How can Sub Header be incorporated"
I have been looking for subheader

[2021-02-12 08:20] IhorKurylov commented on #149
+1

[2021-02-26 05:32] heyassel opened #151 "Export nested array is not working"
I've tried to export following data with nested array but is not working, please help me...

`data: [
                { firstname: "Ahmed", lastname: "Tomi", email: "ah@smthing.co.com", phone_nums: ['0550001624', '0550001999']},
                { firstname: "Raed", lastname: "Labes", email: "rl@smthing.co.com", phone_nums: ['0550001624', '0550001999']},
                { firstname: "Yezzi", lastna

[2021-03-12 12:16] Jaynish007 commented on #130
Did anybody find solution?

[2021-03-12 12:17] Jaynish007 commented on #130
How to download multiple sheet in one excel file?

[2021-03-16 02:29] kimuhjin opened #152 "how can i set auto-width on column?"
#### My reason:
#### Steps to reproduce:
#### Lib Version:

i want to set column width by string length of data.
i tried wrapText:true option, but it's not working
is it only way to set column width by manually?
my column length is unpredictable, how can i set column width automatically?

[2021-03-19 15:46] vodnokoki opened #153 "Generated file is 10 times bigger in size than file created from MS excel"
#### My reason: Generated file is too big comparing with file that is created from MS Excel
#### Steps to reproduce:
Opening in 7zip excel files created with MS Excel sheets xmls have some File size, and Packed size much less. In react-data-exported xlsx Packed size equals File size - so somehow react library is not packing properly. Maybe we need to pass some parameter additionally.

#### Lib Ver

[2021-03-24 22:38] David-DB88 opened #154 "The maximum you can export to excel is 1299 rows, how to increase the number of exported rows?"
#### My reason:
#### Steps to reproduce:
#### Lib Version:

[2021-03-25 15:39] javaGuy33 commented on #54
Hi @securedeveloper, when I am trying to hide the button using 'hideElement' property. The excel file is downloading twice. Did you come across such king of issue?

[2021-04-14 13:43] coolbeatz71 opened #155 "conditionally hide a ExcelColumn from display"
I would like to hide a column using a condition as following:

[code]

But I am getting an error `can't find props of null`.

A quick look at the code, I can see such code: `column.props.label` or `column.props.value`.

I am raising a PR to ignore all column that is `null`, `undefined` or `false` from `dataSheet` and `sheetRow` arrays

[2021-04-30 08:00] noszone commented on #96
Is there any way to merge the cells somehow? I used this component a lot in our react app. Even if it's not an implemented feature, could be possible to do some trick? Let's say to modify the code, but where in source?

[2021-05-03 06:27] ilhamMuham opened #157 "how can i set value of column on right side and title column on left?"
how can i set value of column on right side and title column on left?
and how can i group the title column? example in column "month" there are many child columns

[2021-05-03 18:24] mgralle opened #158 "Runtime error finding jszip"
I am using react-data-export 0.6.0 in a setup with browserify (16.5.2) in gulp (4.0.2). When running my project in the browser, the line

`import ReactDataExport from 'react-data-export';`

in one of my ES6 files triggers the error message:

This message appears even if I don't actually use the imported ReactDataExport.

My package.json contains the lines
[code]

I have seen your explanation how t

[2021-05-04 13:39] mgralle commented on #158
So I have found I needed to add the following entry to the browserify option in my gulpfile:

[code]

[2021-05-04 13:39] #158 closed, assigned to nobody

[2021-05-13 14:36] yhaizler commented on #96
Maybe someone has a solution how to simulate this option?

[2021-05-24 13:34] EvanTrow opened #159 "Unable to install"
installing via npm fails

`> npm install react-export-excel --save
npm ERR! code ENOENT
npm ERR! syscall spawn git
npm ERR! path git
npm ERR! errno -4058
npm ERR! enoent Error while executing:
npm ERR! enoent undefined ls-remote -h -t https://github.com/securedeveloper/js-xlsx.git
npm ERR! enoent
npm ERR! enoent
npm ERR! enoent spawn git ENOENT
npm ERR! enoent This is related to npm not being able

[2021-06-11 05:09] kkulbae commented on #146
Enter the code below in `react-app-end.d.ts`

[code]

This works find for me.

[2021-06-16 11:57] OmkarKumbare commented on #61
Here is simple example for export excel file using react

Used exceljs for implementation

https://stackblitz.com/edit/react-export-to-excel

[2021-06-29 20:46] shubham-vEngageAi commented on #154
I am only able to export only 90 rows .Can you tell me ?. How did you achieve to export 1299 rows.

[2021-07-09 06:56] venkateshtechefficio commented on #54
The excel files is downloading 2 times. do we have any solution, thank you

[2021-07-09 08:54] codal-mitalt opened #160 "Unable to Add Condition on <ExcelSheet> for condition base export of sheet tab"
Version- "react-export-excel": "^0.5.3",

I am using This Library to Export in Excel With Multiple Tabs

below is working fine

                            <ExcelFile filename="Activity History" className="btn lg-btn">Export CSV</button>}>
                                        <ExcelSheet data={D1Array} name="New>
                                            <ExcelColumn label="Last Updated By" v

[2021-08-05 01:20] Genzan commented on #159
Same error when trying to install it inside a Docker node:alpine

![imagen](https://user-images.githubusercontent.com/58860247/128276080-73ae7b2a-14ab-4fc2-8c77-bd8dd12ab596.png)

error:

![imagen](https://user-images.githubusercontent.com/58860247/128276154-43adf050-3ed8-4b4a-ab32-52a9d97d3645.png)

[2021-08-06 08:39] anjanikumarjangid commented on #139
can you please explain, how to do it? I am facinng the same issue

[2021-08-07 12:26] w35l3y commented on #139
Use `new Date().toJSON()` or any other format you want. This library doesn't work well with type Date.

[2021-08-07 12:30] anjanikumarjangid commented on #139
Can you please send me your code

[2021-08-07 12:30] anjanikumarjangid commented on #139
Can you please send your sample code with date functionality ,

[2021-08-07 13:13] w35l3y commented on #139
[code]
[code]

[2021-08-07 13:29] anjanikumarjangid commented on #139
Thanks

[2021-08-09 09:41] anjanikumarjangid commented on #139
import React, { Component } from 'react';
import ReactExport from 'react-data-export';

const ExcelFile = ReactExport.ExcelFile;
var ExcelSheet = ReactExport.ExcelFile.ExcelSheet;

//function for date functionality
function dateValidator(dataValue){
    if(new Date(dataValue) instanceof Date && !isNaN(new Date(dataValue).valueOf())){
    // Duration of a day in MilliSeconds
    const oneDay=1000 *

[2021-08-09 09:47] anjanikumarjangid commented on #139
import React, { Component } from 'react';
import ReactExport from 'react-data-export';

const ExcelFile = ReactExport.ExcelFile;
var ExcelSheet = ReactExport.ExcelFile.ExcelSheet;

function dateValidator(dataValue){
    if(new Date(dataValue) instanceof Date && !isNaN(new Date(dataValue).valueOf())){
    // Duration of a day in MilliSeconds
    const oneDay=1000 * 60 * 60 * 24;
    // Excel starts

[2021-08-09 09:48] anjanikumarjangid commented on #139
import React, { Component } from 'react';
import ReactExport from 'react-data-export';

const ExcelFile = ReactExport.ExcelFile;
var ExcelSheet = ReactExport.ExcelFile.ExcelSheet;

function dateValidator(dataValue){
    if(new Date(dataValue) instanceof Date && !isNaN(new Date(dataValue).valueOf())){
    // Duration of a day in MilliSeconds
    const oneDay=1000 * 60 * 60 * 24;
    // Excel starts

[2021-08-09 09:53] anjanikumarjangid commented on #139
import React, { Component } from 'react';
import ReactExport from 'react-data-export';

const ExcelFile = ReactExport.ExcelFile;
var ExcelSheet = ReactExport.ExcelFile.ExcelSheet;

function dateValidator(dataValue){
    if(new Date(dataValue) instanceof Date && !isNaN(new Date(dataValue).valueOf())){
    // Duration of a day in MilliSeconds
    const oneDay=1000 * 60 * 60 * 24;
    // Excel starts

[2021-09-03 14:13] bikash9449 commented on #146
The same is happening to me, Also even after copying it into types folder I explicitly had to move it to distr folder after deployment

[2021-09-06 03:42] Mulli opened #162 "Question: How to set right to left reading order?"
Just a question, cannot figure out how to set right to left <ExcelSheet> column order in a sheet?

[code]

[2021-09-18 19:00] clleker commented on #162
Use "Excel Export with Dataset", then in style set

alignment: {wrapText: true, horizontal: 'center', vertical: 'top'}.

For example:

[
   columns: [{…}],
   data:[
          [{
             value: 'Text',
             style: {
                     font: { sz: '12' },
                     alignment: {readingOrder:2 wrapText: true, horizontal: 'center', vertical: 'top' },
                     bord

[2021-10-04 11:21] bryantamayo1 commented on #149
+1

[2021-10-05 06:47] molimat commented on #160
I would suggest to create  two different export components and create a condition on parent.

[2021-10-06 15:49] MarwenBenTalebAli opened #163 "How to export data to xsl?"
I want a .xls excel file I tried the porps fileExtension="xls" but I can not open the file.

[code]

[2021-10-07 10:20] Natalyiia commented on #22
HI @uditdubey could you please describe how you did this?

[2021-10-09 17:44] mehmetyilmaz001 opened #164 "Accessing Nested Objects"
Accessing nested objects is not possible.

For example if you hava an array like this and and try to access the user.name it is not possible.

[code]

[code]

[2021-10-12 11:44] sujitdev commented on #138
Hi Is this issue resolved , I am also getting the same issue

[2021-10-22 03:57] hak2c opened #166 "Error with FileSaver"
Hi,
Thanks for your work on this library.

#### I had this error when import to my component
`Error: ENOENT: no such file or directory, open '.../node_modules/file-saver/FileSaver.js'`
I have installed file-server but still get this error
How can I solve it?
#### Lib Version:0.6.0

Thanks,

[2021-10-22 04:20] hak2c commented on #166
Sorry, solved it
No need to install file-saver

Thanks.

[2021-10-22 04:20] #166 closed, assigned to nobody

[2021-11-02 05:49] Sindhuja-developer commented on #113
I am also having this issue. any solution for this?

[2021-11-04 00:30] dbriganty commented on #87
Hi, still don't have the answer to this question?  Add columns is easy with tag ExcelColumn but the rows not so much

[2021-11-05 11:49] OkancanCosar commented on #146
i already created react-data.export.d.ts file and fill with
https://github.com/securedeveloper/react-data-export/blob/master/types/index.d.ts
but still getting

Could not find a declaration file for module 'react-export-excel'. 'C:/prj/node_modules/react-export-excel/dist/index.js' implicitly has an 'any' type.
  Try `npm i --save-dev @types/react-export-excel` if it exists or add a new declaratio

[2021-11-14 11:44] 4mohdisa commented on #130
I am getting error

Error: Request failed with status code 403
    at createError (createError.js:16)
    at settle (settle.js:17)
    at XMLHttpRequest.onloadend (xhr.js:66)

any help?

[2021-11-14 11:48] 4mohdisa commented on #130
I am getting so many errors
Any help?
![Screenshot []((8)](https://user-images.githubusercontent.com/84847782/141679506-34f43c65-a311-40a1-a0a7-5726d9afc10f.png))
![Screenshot (9)](https://user-images.githubusercontent.com/84847782/141679509-3a8eabf1-df3b-4f1a-b208-a04f70299036.png)

2index.js:23 Error: Request failed with status code 403
    at createError (createError.js:16)
    at settle (settl

[2021-11-30 07:46] ashok-2695 commented on #55
@wahyupriadi-edts  all variables are in string or number but it's not working it showing error s.t.match is not a function
Any solution for this ??

[2021-11-30 10:11] ashok-2695 commented on #130
@Bilal-Abbas  It's working.

[2021-12-02 18:29] vishal1785 commented on #113
Same issue for me as well

[2021-12-06 14:07] ShahStackOverflow commented on #145
Im facing this issue while exporting logo with my file and do not found any help do you?

[2021-12-16 08:25] Srivastava295 opened #168 "Module not found can't resolve 'fs' in node_modules\tempa-xlsx"
We tried updating react-scripts from 4.0.3 to 5.0.0 with react-data-export 0.6.0 and xlsx 0.17.2, and when we try to build it fails with the error  `Module not found: Error: Can't resolve 'fs' in  react-data-export\node_modules\tempa-xlsx`

What fix needs to be applied to maintain react-scripts version 5.0.0? Thanks!

[2021-12-21 05:14] agatharejina commented on #138
Hi, also getting the same issue
@sujitdev have you handle it?

[2022-01-11 14:20] doraemonxxx commented on #168
@Srivastava295
I have also the same problem. I tried to use older version but it is still the same.  Do you have any workaround to solve this problem?

Thanks!

[2022-01-11 19:09] rwc0920 opened #169 "Why does xlsx get installed into my package.json when installing this package"
Like the title says, why does xlsx get installed into my package.json when installing this package? It's technically not even listed as a dependency of this package but it's required to be installed. It shows that tempa-xlsx is a dependency but doesn't show up in my package.json file when I download this. Can someone please explain this to me? I'm curious because it is significantly increasing the

[2022-01-15 00:18] bryancalisto commented on #168
I'm having this problem too. I made the build work by adding this lines to the '**resolve**' field of **webpack.config.js** file  (which is located in node_modules/react-scripts/config):

`
        fallback: {
        "fs": false,
        "crypto": false
      },
`

![imagen](https://user-images.githubusercontent.com/36963863/149600335-c3b6124e-a091-456d-93ba-8c016e84496a.png)

Of course, this is

[2022-01-31 07:14] meharfatimakhan commented on #16
Hi, is there a way to export data to 2 sheets in the same file?

[2022-01-31 11:17] meharfatimakhan commented on #113
Same issue for me as well

[2022-02-02 11:04] blankcry opened #170 "Browser window stops responding"
#### My reason: Exporting Large data
#### Steps to reproduce: Try exporting with a large dataset about 10000 rows
#### Lib Version: ^0.6.0

[2022-02-23 11:26] hamid842 commented on #102
same issue I have.

[2022-03-02 14:09] xaviergeorge commented on #85
The whole purpose of react-data-export is "(❗️❗️❗️The purpose of having a new library is that open source libraries either does not support styling and rest functionality in excel or they are too heavy to consider)". xlsx module is a heavy one. It has a size of 10MB. So this shouldn't be a proper solution.

[2022-03-10 02:17] dalthonmh commented on #146
It says me:

[code]

[2022-03-22 06:21] kaustubherttre commented on #168
Any updates for the fix? Also will I be able to export if I add the above code?

[2022-03-23 03:20] bryancalisto commented on #168
I guess the package is not being maintained anymore. If you add the above code, it will work as long as you don't cause your `webpack.config.js` file to lose the added lines (e.g. by re-creating your node_modules). This may make it difficult to use this package in a continuous integration environment, because of the manual edit of `webpack.config.js` you have to make

[2022-04-04 20:34] ahmetilhann commented on #159
I have same error :(

[2022-04-08 19:43] lmarenast commented on #113
I have the same problem

[2022-04-21 21:34] Daalb commented on #146
I have the same problem 😢

[2022-05-13 16:39] GeraldoMaciasLADodgers commented on #159
This looks like a general npm error. Backup your package-lock.json and erase the original package-lock.json. Retry npm install and then install this package.

[2022-05-25 08:34] AmrataRamchandani opened #172 "Export html table to excel"
Hi, can we use this library to export html table to excel ? If yes, how ?

[2022-05-26 14:52] grazielleanna commented on #85
Hi!

I created my project with create-react-app and didn't find where to add this setting to solve the problem.

How i can do this?

[2022-05-28 22:32] tdammy92 commented on #168
used this package somtimes last year and it worked, @bryancalisto your fix doesnt seems to be working anymore. any help,

[2022-05-29 09:33] aviyi commented on #168
Any updates?

[2022-06-08 12:22] kaderdiarra commented on #168
I switched from NPM to YARN and everything works perfectly. NPM has a lot of problems, try switching to YARN if you can. Maybe it can solve your problem

[2022-06-16 06:24] aviyi opened #173 "Application crash when using vitejs"
I am traying to migrate react app to use vitejs .
after migration I am getting an error
"Uncaught ReferenceError: cptable is not defined"

link to reduce
https://stackblitz.com/edit/vitejs-vite-u84ldu?file=package.json,src%2FApp.jsx&terminal=dev

[2022-07-13 08:04] aviyi commented on #55
@ashok-2695  all the value should be string .
I used toString and now it's work

[2022-07-25 16:12] DeanVanGreunen opened #175 "how to add 2 cells at the end of my sheet, one with static text and the other with a summed total?"
#### My reason:
I would like to add 2 cells at the end of the sheet from my dataset, a "**total**" and a "**value**"

![image](https://user-images.githubusercontent.com/22296075/180824973-c6a57e5a-bbc3-47ec-a9e4-62ae25d6133f.png)

here is my code

[code]

#### Lib Version:
latest

[2022-09-14 11:01] arindam-grene commented on #85
You can check out this: https://github.com/securedeveloper/react-data-export/issues/168#issuecomment-1013556528

[2022-10-25 11:47] sivaaks commented on #87
Use a dataset and create a column with the row title and then leave the data as an empty array
[code]